@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body{
    background-color: rgb(134, 48, 48);
}

h1, li{
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
}

li{
    font-size: 19px;
}

img{
    width: 400px;
    border: 5px grey solid;
}

.header{
    display: flex;
    flex-direction: row;
}

button{
    height: 60px;
    width: 100px;
    border-radius: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(212, 112, 212);
    transition: 0.3s;
}

button:hover{
    background-color: rgb(212, 112, 212);
    color: white;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}